body {margin:0em}
.login {
   background-color: #bbb;
   margin-bottom: :0.5em;
  padding:0.5em;
}
.head{
  color:white;
  background-color:#aaa;
  padding:0.5em;
  border-radius:0.2em;
  }
.message {
   background-color;
  margin:0em;
  padding:0.5em;
  padding-bottom:10em;
}
.talker{
    color:blue;
  font-style:oblique;
  font-size:0.8em;
}
.sender {margin-right:0.5em;
  color:blue;
  font-style:oblique;
  font-size:0.7em;
  width:5em;
  display: inline-block;
  text-align:right;
  overflow:hidden
  }
.content {margin:0.5em;
  color:black;
  font-size:0.8em;
}
li {
   border-bottom: 1px solid #ddd;
  list-style: none;
  background-color: #fff;
  border-radius:0.2em;
  margin-bottom:0em;
  padding:0.1em;
  padding-left:1em;
}
.problem {
  font-style:oblique;
  color:#559;
  font-size:0.8em;
}
.error {
  font-style:oblique;
  color:#955;
    font-size:0.8em;

}
button {
    margin:0.1em;
  border:1px solid lightgrey;
  border-radius:0.2em;
  padding:0.4em;
  background-color: lightblue;
}
input {
  margin:1em;
  border:1px solid lightgrey;
  border-radius:0.2em;
  padding:0.4em;
  }
ul{padding-left:0.5em;
  padding:0em;
  margin:0em;
  }